.page-info {
  padding-top: 20px;
  ul {
    list-style: none;
    li {
      display:inline-block;
      position: relative;
      a {
        display: block;
        padding-right: 20px;
      }
      &:last-child a {
        color:$light-grey;
      }
      &:after {
        content:"";
        position: absolute;
        right: 7px;
        bottom: 7px;
        width: 4px;
        height: 6px;
        background:url(../images/arrow-right.svg);
        background-repeat:no-repeat;
        background-size:4px 6px;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}