@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto');

$font-main: 'Open Sans', sans-serif;
$font-text: 'Roboto', sans-serif;

$color-main: #333333;
$light-grey: #999999;
$w: #fff;
$wtr : rgba(255,255,255,0.7);
$dark-blue: #156ba9;
$light-blue: #2688cf;
$lighter-blue: #92c5e9;
$red: #d51b1b;
$offwhite: #fdfdfd;
$border-dark: #d3d3d3;
$border-light: #eeeeee;

$alltr: 0.25s all ease;
